<div class="container">
  <form #disciplinaForm="ngForm">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1 class="label-title">Nova Disciplina</h1>
      </div>
      <div class="ui-fluid ui-g-4">
        <label class="label-form">Nome</label>
        <input pInputText type="text" name="nome" ngModel>
      </div>
      <div class="ui-fluid ui-g-4">
        <label class="label-form">Carga horaria</label>
        <input pInputText type="number" name="cargaHoraria" ngModel>
      </div>      
    </div>

    <div class="ui-g">
      <div class="ui-fluid ui-g-12">
        <label class="label-form">Descricao</label>
        <input pInputText type="text" name="descricao" ngModel>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-fluid ui-g-6">
        <label class="label-form">Ativa</label>
        <div class="ui-fluid ui-g-12"><p-radioButton name="groupativa" value=1 label="Sim" [(ngModel)]="selectedValue"></p-radioButton></div>
        <div class="ui-fluid ui-g-12"><p-radioButton name="groupativa" value=2 label="Nao" [(ngModel)]="selectedValue"></p-radioButton></div>
      </div>
      <div class="ui-fluid ui-g-4">
        <label class="label-form">Professor</label>
        <p-dropdown [options]="professores" [(ngModel)]="profSelecionado" optionLabel="nome"></p-dropdown>
      </div>
    </div>

    <div class="ui-g">

    </div>

    <div class="ui-g ui-g-3">
      <p-button label="Salvar"></p-button>
      <p-button label="Cancelar" routerLink="/disciplinas"></p-button>
    </div>
  </form>
</div>